@model PaginatedCourse
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    var instructors = ViewBag.Instructors as IEnumerable<SelectListItem>;
}

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Courses</h2>
        </div>

        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a asp-area="Admin"
               asp-controller="Course"
               asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i>
                Create
            </a>
        </div>

    </div>

    <!-- Filter Section -->
    <section class="py-3 filter-bar">
        <div class="container">
            <form method="get">

                <div class="row g-2">

                    <div class="col-md-3">
                        <input asp-for="Filter.Title"
                               class="form-control"
                               placeholder="Course Title" />
                    </div>

                    <div class="col-md-3">

                        <select asp-for="Filter.InstructorId"
                                asp-items="instructors"
                                class="form-select">

                            <option value="">All Instructors</option>

                        </select>

                    </div>

                    <div class="col-md-2">
                        <input asp-for="Filter.CreatedFrom"
                               type="date"
                               class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <input asp-for="Filter.CreatedTo"
                               type="date"
                               class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-dark w-100">
                            Filter
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </section>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>

                    <tr>

                        <th>ID</th>

                        <th>Title</th>

                        <th>Instructor</th>

                        <th>Created At</th>

                        <th>Description</th>

                        <th width="230">Actions</th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (var item in Model.Courses)
                    {
                        <tr>

                            <td>@item.CourseId</td>

                            <td>@item.Title</td>

                            <td>@item.InstructorName</td>

                            <td>@item.CreatedAt.ToString("dd MMM yyyy")</td>

                            <td>@item.Description</td>

                            <td>
                                <a asp-action="Details"
                                   asp-route-id="@item.CourseId"
                                   class="btn btn-info">
                                    <i class="bi bi-eye"></i>
                                    Details
                                </a>

                                <a asp-action="Edit"
                                   asp-route-id="@item.CourseId"
                                   class="btn btn-warning">

                                    <i class="bi bi-pencil-square"></i>

                                    Edit

                                </a>

                                <form asp-action="Delete"
                                      asp-route-id="@item.CourseId"
                                      method="post"
                                      class="d-inline delete-form">

                                    @Html.AntiForgeryToken()

                                    <button type="button"
                                            class="btn btn-danger btn-delete">

                                        <i class="bi bi-trash"></i>

                                        Delete

                                    </button>

                                </form>

                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
				@if (Model.TotalPages > 1)
                {
                    <ul class="pagination justify-content-center">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="/Admin/Course/Index?page=@(Model.CurrentPage - 1)">Previous</a></li>
                        }
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            @if (i == Model.CurrentPage)
                            {
                                <li class="page-item active"><a class="page-link" href="/Admin/Course/Index?page=@i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="/Admin/Course/Index?page=@i">@i</a></li>
                            }
                        }
                        @if (Model.CurrentPage != Model.TotalPages)
                        {
                            <li class="page-item"><a class="page-link" href="/Admin/Course/Index?page=@(Model.CurrentPage + 1)">Next</a></li>
                        }
                    </ul>            
                }
                else
                {
					<h2 class="text-center">No courses found.</h2>
                }
            </nav>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {

        document.querySelectorAll(".btn-delete").forEach(button => {

            button.addEventListener("click", function () {

                const form = this.closest("form");

                Swal.fire({
                    title: "Are you sure?",
                    text: "This action cannot be undone!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {

                    if (result.isConfirmed) {
                        form.submit();
                    }

                });

            });

        });

    });
</script>

@section Scripts {
    <partial name="_NotificationPartial">
    }