@using System.Security.Claims
@using Microsoft.Extensions.Localization

@inject IStringLocalizerFactory Factory

@{
    var Localizer = Factory.Create(
        "SharedResource",
        "CorporateTrainingManagementSystem");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instructor | Dashboard</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Instructor/Home" class="nav-link">@Localizer["Home"]</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <form asp-area=""
                      asp-controller="Home"
                      asp-action="SetLanguage"
                      method="post"
                      class="form-inline mr-3">

                    <input type="hidden"
                           name="returnUrl"
                           value="@Context.Request.Path@Context.Request.QueryString" />

                    @{
                        var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
                    }

                    <select name="culture"
                            class="form-control form-control-sm"
                            onchange="this.form.submit()">

                        @if (culture == "en")
                        {
                            <option value="en" selected>🇺🇸 English</option>
                            <option value="ar">🇪🇬 العربية</option>
                        }
                        else
                        {
                            <option value="en">🇺🇸 English</option>
                            <option value="ar" selected>🇪🇬 العربية</option>
                        }

                    </select>

                </form>
                <!-- Fullscreen -->

                <li class="nav-item">

                    <a class="nav-link"
                       data-widget="fullscreen"
                       href="#"
                       role="button">

                        <i class="fas fa-expand-arrows-alt"></i>

                    </a>

                </li>

                <!-- User Menu -->

                <li class="nav-item dropdown user-menu">

                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown">

                        <img src="~/AdminLTE/dist/img/default user.jpg"
                             class="user-image img-circle elevation-2"
                             alt="User Image">

                        <span class="d-none d-md-inline">

                            @User.FindFirstValue(ClaimTypes.Name)

                        </span>

                    </a>

                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                        <!-- User Header -->

                        <li class="user-header bg-primary">

                            <img src="~/AdminLTE/dist/img/default user.jpg"
                                 class="img-circle elevation-2"
                                 alt="User Image">

                            <p>

                                @User.FindFirstValue(ClaimTypes.Name)

                                <small>

                                    @User.FindFirstValue(ClaimTypes.Email)

                                </small>

                            </p>

                        </li>

                        <!-- Menu Footer -->

                        <li class="user-footer">

                            <a asp-area="Identity"
                               asp-controller="Profile"
                               asp-action="Index"
                               class="btn btn-default btn-flat">

                                @Localizer["Profile"]

                            </a>

                            <form asp-area="Identity"
                                  asp-controller="Account"
                                  asp-action="Logout"
                                  method="post"
                                  class="float-right">

                                @Html.AntiForgeryToken()

                                <button type="submit"
                                        class="btn btn-default btn-flat">

                                    @Localizer["Logout"]

                                </button>

                            </form>

                        </li>

                    </ul>

                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/Instructor/Home" class="brand-link">
				<h3 class="brand-text font-weight-light">@Localizer["Corporate Training"]</h3>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    @Localizer["Dashboard"]
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Instructor/Home" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>@Localizer["Dashboard"] v1</p>
                                    </a>
                                </li>
                            
                            </ul>
                        </li>
                        
                        
                       
                        <li class="nav-header">@Localizer["Management"]</li>
                        <li class="nav-item">
                            <a href="/Instructor/Course" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@Localizer["My Courses"]</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Instructor/Student" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@Localizer["My Students"]</p>
                            </a>
                        </li>

 
                        
                        
                        
                        
                        
                       
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /.content-header -->
            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/AdminLTE/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/AdminLTE/dist/js/pages/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
